-# = @male_count
-# = @female_count
-# = @unknown_count

%ul
  - @co_likes.each do |like|
    - next if like[:count] < 1
    %li= like[:uid]
    %li= like[:name]
    %li= image_tag(like[:image])
    %li= like[:count]
    %li= like[:like_name]
    %li ---
