%div.container


  %h3 ようこそ #{current_user.name}さん


  %div.row
    %div.col-md-6
      %div.panel.panel-default
        %div.panel-heading
          %h4
            %span.glyphicon.glyphicon-heart-empty
            友人の男女比グラフ
        %div.panel-body
          %svg#gender

    %div.col-md-6
      %div.panel.panel-default
        %div.panel-heading
          %h4
            %span.glyphicon.glyphicon-user
            友人の年齢グラフ
        %div.panel-body
          %svg#age

    %div.col-md-6
      %div.panel.panel-default
        %div.panel-heading
          %h4
            %span.glyphicon.glyphicon-pencil
            友人の好きな言葉
        %div.panel-body
          - @quotes.first(10).each do |row|
            %div.media
              %a.pull-left
                = image_tag(row[:image], :class => "media-object", :alt => row[:name])
              %div.media-body
                %h4.media-heading
                  = link_to row[:name], row[:link], :target => '_blank'
                = row[:quote]

          / %ul
          /   - @quotes.first(10).each do |row|
          /     %li
          /       = link_to image_tag(row[:image]), row[:link], :target => '_blank'
          /       = link_to row[:name], row[:link], :target => '_blank'
          /       = row[:quote]

    %div.col-md-6
      %div.panel.panel-default
        %div.panel-heading
          %h4
            %span.glyphicon.glyphicon-thumbs-up
            趣味が似ている友人？
        %div.panel-body
          - @colike.first(10).each do |row|
            %div.media
              %a.pull-left
                = image_tag(row[:image], :class => "media-object", :alt => row[:name])
              %div.media-body
                %h4.media-heading
                  = link_to row[:name], row[:link], :target => '_blank'
                  %span.badge="#{row[:count]}"
                = "#{row[:page]}"

          / %ul
          /   - @colike.first(10).each do |row|
          /     %li
          /       = link_to image_tag(row[:image]), row[:link], :target => '_blank'
          /       = link_to row[:name], row[:link], :target => '_blank'
          /       = "#{row[:page]}"
          /       %span.badge="#{row[:count]}"

= javascript_include_tag 'users/gender'
= javascript_include_tag 'users/age'
