
%h3 users/top

%ul
  %li= "ようこそ #{current_user.name}さん"
  %li= link_to "ログアウト", "/signout"

%svg#gender
%svg#age

%ul
  - @quotes_ids.each do |k, v|
    %li= "#{k}: #{v}"

%ul
  - @colike_ids.each do |k, v|
    %li= "#{k}: #{v[:page]}"

= javascript_include_tag 'users/gender'
= javascript_include_tag 'users/age'

-# %ul
-#   - @co_likes.each do |like|
-#     - next if like[:count] < 1
-#     %li= like[:uid]
-#     %li= like[:name]
-#     %li= image_tag(like[:image])
-#     %li= like[:count]
-#     %li= like[:like_name]
-#     %li ---
