.container

  - if notice
    .alert.alert-info
      = notice
      %button.close(data-dismiss="alert") &times;

  .row
    .col-md-6.col-sm-12.col-xs-12
      .panel.panel-default
        .panel-heading
          %h4
            %span.glyphicon.glyphicon-heart-empty
            友人の男女比
        .panel-body
          %svg#gender

    .col-md-6.col-sm-12.col-xs-12
      .panel.panel-default
        .panel-heading
          %h4
            %span.glyphicon.glyphicon-user
            友人の年齢
        .panel-body
          %svg#age

    .col-md-6.col-sm-12.col-xs-12
      .panel.panel-default
        .panel-heading
          %h4
            %span.glyphicon.glyphicon-pencil
            友人の好きな言葉
        .panel-body
          - @quotes_friends.each do |friend|
            .media
              %a.pull-left
                = image_tag(friend.image_url, :class => "media-object", :alt => friend.name)
              .media-body
                %h4.media-heading
                  = link_to friend.name, friend.url, :target => '_blank'
                = friend.quotes

    .col-md-6.col-sm-12.col-xs-12
      .panel.panel-default
        .panel-heading
          %h4
            %span.glyphicon.glyphicon-thumbs-up
              趣味が似ている友人？
        .panel-body
          - @colike_friends.each do |row|
            - friend = row[:friend]
            .media
              %a.pull-left
                = image_tag(friend.image_url, :class => "media-object", :alt => friend.name)
              .media-body
                %h4.media-heading
                  = link_to friend.name, friend.url, :target => '_blank'
                  %span.badge= row[:co_ids].size
                - row[:co_ids].each do |page_id|
                  - page = Page.find(page_id)
                  %span.label.label-default
                    = link_to page.name, page.url, :target => '_blank'

= javascript_include_tag 'users'
