.container

  - if notice
    .alert.alert-info
      = notice
      %button.close(data-dismiss="alert") &times;

  %h3 ようこそ #{current_user.name}さん

  .row
    .col-md-6.col-sm-12.col-xs-12
      .panel.panel-default
        .panel-heading
          %h4
            %span.glyphicon.glyphicon-heart-empty
            友人の男女比
        .panel-body
          %svg#gender

    .col-md-6.col-sm-12.col-xs-12
      .panel.panel-default
        .panel-heading
          %h4
            %span.glyphicon.glyphicon-user
            友人の年齢
        .panel-body
          %svg#age

    .col-md-6.col-sm-12.col-xs-12
      .panel.panel-default
        .panel-heading
          %h4
            %span.glyphicon.glyphicon-pencil
            友人の好きな言葉
        .panel-body
          - @quotes.first(10).each do |row|
            .media
              %a.pull-left
                = image_tag(row[:image], :class => "media-object", :alt => row[:name])
              .media-body
                %h4.media-heading
                  = link_to row[:name], row[:link], :target => '_blank'
                = row[:quote]

          / %ul
          /   - @quotes.first(10).each do |row|
          /     %li
          /       = link_to image_tag(row[:image]), row[:link], :target => '_blank'
          /       = link_to row[:name], row[:link], :target => '_blank'
          /       = row[:quote]

    .col-md-6.col-sm-12.col-xs-12
      .panel.panel-default
        .panel-heading
          %h4
            %span.glyphicon.glyphicon-thumbs-up
            趣味が似ている友人？
        .panel-body
          - @colike.first(10).each do |row|
            .media
              %a.pull-left
                = image_tag(row[:image], :class => "media-object", :alt => row[:name])
              .media-body
                %h4.media-heading
                  = link_to row[:name], row[:link], :target => '_blank'
                  %span.badge="#{row[:count]}"
                = "#{row[:page]}"

          / %ul
          /   - @colike.first(10).each do |row|
          /     %li
          /       = link_to image_tag(row[:image]), row[:link], :target => '_blank'
          /       = link_to row[:name], row[:link], :target => '_blank'
          /       = "#{row[:page]}"
          /       %span.badge="#{row[:count]}"

= javascript_include_tag 'users'
