
%h3 users/top

%ul
  %li= "ようこそ #{current_user.name}さん"
  %li= link_to "データ更新", "/users/update"
  %li= link_to "ログアウト", "/signout"

%h4 gender
%svg#gender

%h4 age
%svg#age

%h4 quote
%ul
  - @quotes.each do |row|
    %li
      = link_to image_tag(row[:image]), row[:link], :target => '_blank'
      = link_to row[:name], row[:link], :target => '_blank'
      = row[:quote]

%h4 colike
%ul
  - @colike.each do |row|
    %li
      = link_to image_tag(row[:image]), row[:link], :target => '_blank'
      = link_to row[:name], row[:link], :target => '_blank'
      = "#{row[:page]}(#{row[:count]})"

= javascript_include_tag 'users/gender'
= javascript_include_tag 'users/age'

-# %ul
-#   - @co_likes.each do |like|
-#     - next if like[:count] < 1
-#     %li= like[:uid]
-#     %li= like[:name]
-#     %li= image_tag(like[:image])
-#     %li= like[:count]
-#     %li= like[:like_name]
-#     %li ---
