!!!5
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= Settings.title
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "http://d3js.org/d3.v3.min.js"
    = javascript_include_tag "application"
  %body
    %nav.navbar.navbar-default{:role => 'navigation'}
      .container
        .navbar-header
          = link_to Settings.title, root_path, :class => 'navbar-brand'

          %button.navbar-toggle(data-toggle="collapse" data-target=".target")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

        .collapse.navbar-collapse.target
          %ul.nav.navbar-nav.navbar-right
            - if current_user
              %li= image_tag(current_user.image_url, :class => "media-object", :alt => current_user.name, :width => 30)
              %li= link_to current_user.name, current_user.url, :target => '_blank'
            %li= link_to "このアプリについて", "/users/about"
            %li.spin= link_to "データ更新", "/users/update" if current_user
            - if current_user
              %li= link_to "ログアウト", "/signout"
            - else
              %li= link_to "ログイン", "/users"

    = yield
