!!!5
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "FbApp"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "http://d3js.org/d3.v3.min.js"
    = javascript_include_tag "application"
  %body
    %nav.navbar.navbar-default{:role => 'navigation'}
      .container
        .navbar-header
          / = link_to 'FbApp', root_path
          %a.navbar-brand(href='/') FbApp

        %ul.nav.navbar-nav.navbar-right
          - if current_user
            %li= image_tag(@my_image, :class => "media-object", :alt => @my_image, :width => 30)
            %li= link_to "#{current_user.name}"
          %li.spin= link_to "データ更新", "/users/update"
          %li= link_to "ログアウト", "/signout"

    = yield
